

/* root  */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in-out;
}

/* utility  */

.flex{
    display: flex;
}

.container{
    width: 75rem;
    margin: auto;
}

/* navbar  */

.navbar{
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

#navSection_1{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navSection_1 > *{
    padding: 0.5rem;
}

#navSectionLogoText{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#navSection_2 ul{
    padding-left: 0;
    list-style: none;
}

.navSectionItem {
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#navSection_2 .active{
    color: orangered;
}

#navSection_2 .navSectionItem:hover{
    color: orangered;
}

#navSection_3 button{
    padding: 1rem 2rem;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px black;
}

#navSection_3 button:hover{
    background-color: orangered;
    color: white;
    border: solid 1px orangered;
}

/* main  */

.main{
    padding: 4rem 0;
}

.mainItem{
flex: 1;
}

#mainItem_1_1 h2{
    font-size: 3rem;
}

#mainItem_1_2{
    padding: 1rem 0;
}

#mainItem_1_2 h3{
    font-size: x-large;
    font-weight: lighter;
    border-left: 2px solid black;
    padding: 1rem;
}

#mainItem_1_3 > *{
    margin-right: 1rem;
}

.mainItem_1_3_button{
    padding: 1rem 2rem;
    font-size: large;
    font-weight: lighter;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px black;
}

.mainItem_1_3_button_1{
    background-color: orangered;
    color: white;
    border: solid 1px orangered;
}

.mainItem_1_3_button_1:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
}

.mainItem_1_3_button_2:hover{
    background-color: orangered;
    color: white;
    border: solid 1px orangered;
}



