@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* =========
CSS RESET
============ */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  /* ! learned new  */
  margin-top: 3rem !important;
}

/* ============
Utility Classes
=============== */

.flex {
  display: flex;
}

.container {
  max-width: 1182px;
  padding: 0px 3rem;
  margin: 0 auto;
}

/* ! important learning (Start) */

.headingHr {
  align-items: center;
  font-size: small;
}

.headingHr span {
  padding-right: 1rem;
}

.headingHr::after {
  content: "";
  flex: 1;
  background-color: black;
  height: 2px;
}

/* ! important learning (End) */

/* ============
Header
=============== */

header {
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  background-color: yellow;
  padding: 0.75rem 1.5rem;
  align-items: center;
}

header img {
  height: 1.45rem;
}

header form {
  background-color: white;
  align-items: center;
  padding: 0.5rem;
}

.headerSearchInput {
  border: none;
  font-size: 1rem;
  width: 13.75rem;
}

.headerSearchInput:focus {
  border: none;
  outline: none;
}

.headerSearchInput::placeholder {
  color: black;
}

.headerButtons > * {
  margin-right: 1rem;
}

.headerButtons > *:visited,
.headerButtons > *:link {
  color: black;
  text-decoration: none;
}

/* ============
Sub Header
=============== */

.subHeader {
  background-color: black;
  color: white;
  justify-content: center;
  /* column-gap: 1rem; */
  font-weight: 500;
  padding: 1rem 0;
}

.subHeader > * {
  padding: 0px 2rem;
  border-right: 1px solid white;
}

.subHeader :last-child {
  border-right: none;
}

.subHeaderSocials > * {
  margin-right: 1rem;
}

/* =============
Big News Section
================ */

.bigNews {
  height: 20rem;
  font-family: "Poppins", sans-serif;
}
.bigNewsContent {
  width: 45%;
  cursor: pointer;
  padding-right: 3rem;
  margin-right: 1rem;
}

.bigNewsContent h2{
  font-size: xx-large;
  font-weight: lighter;
}

.bigNewsContent p{
  font-size: smaller;
}

.bigNewsContent div > * {
  font-size: small;
  font-weight: bold;
}

.bigNewsContent div :last-child{
  color: rgb(97, 97, 97);
  font-weight: lighter;
}


.bigNewsContent h2:hover {
  text-decoration: underline;
}

.bigNewsImageContainer {
  height: inherit;
  width: 55%;
  background-image: url("https://t2.genius.com/unsafe/615x346/https%3A%2F%2Fimages.genius.com%2F3fde1b8d572100d828324ca616ab36b9.1920x1080x1.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}
